.center
{
    text-align: center;
    width: 60%;
    margin-left: 20%;
}
.hidden
{
    display: none;
}
.modal-body label
{
    color: white;
}
.submitButton
{
    margin-bottom: 4px;
    margin-left: 15px;
}

.buttonDays
{
    width: 40px; 
}

.buttonEmployment
{
    width: 75px; 
}

.buttonWorkNight
{
    width: 40px; 
}

.buttonFired
{
    width: 40px; 
}

.selected
{
    color: red;  
}