@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/Scripts/knockout.js")
@Scripts.Render("~/Scripts/tabcontent.js")
@Styles.Render("~/Content/tabcontent.css")

<ul class="tabs">
    <li><a href="#view1">Features</a></li>
    <li><a href="#view2">How to Use</a></li>
    <li><a href="#view3">Source Code</a></li>
</ul>
<div class="tabcontents">
    <div id="view1">
        content 1
    </div>
    <div id="view2">
        content 2
    </div>
    <div id="view3">
        content 3
    </div>
</div>